# vscode
.vscode 

# Intellij
*.iml
.idea

# rust worker
/rust-worker/target/
/i18n-companion-worker
/i18n-companion-worker.exe

# obsidian
/main.js
/styles.css
data.json
main.js.map
states.json
metadata.json

# 文件夹
obsidian-i18n-resources
document
translations
backups
cache

更新日志.md


# 排除macOS Finder （System Explorer）视图状态
.DS_Store



node_modules
